/* =Options Framework Overrides
----------------------------------------------- */

#optionsframework {
	background: transparent; /* Needed for screen options tab to show */
}
#screen-meta-links a.show-settings {
	position: relative;
	z-index: 2;
}
#builder_blvd #optionsframework .section {
	padding-bottom: 30px;
}
#builder_blvd #optionsframework .section-info {
	padding: 15px;
}

/* =Primary Layout
----------------------------------------------- */

#builder_blvd #optionsframework .metabox-holder {
	max-width: 780px;
}
#builder_blvd #optionsframework,
#builder_blvd #optionsframework .full-width {
	max-width: none;
}
#builder_blvd #optionsframework .updated {
	max-width: none;
}

/* =General Classes
----------------------------------------------- */

#builder_blvd #add_new_builder .warning {
	margin: 0;
}
#builder_blvd #add_new_builder .sample-layouts img {
	width:100%; }

/* =Edit Layout
----------------------------------------------- */

/* Header */
#builder_blvd #edit_layout #titlediv {
	margin: 10px 0 10px 0;
}
#builder_blvd #edit_layout #titlediv h2 {
	float: left;
	margin: 0 12px;
}
#builder_blvd #edit_layout #titlediv select {
	float: left;
	margin: 4px 10px 0 20px;
}
#builder_blvd #edit_layout #titlediv .button-secondary {
	float: left;
	margin: 4px 5px 0 0;
}
#builder_blvd #edit_layout #titlediv .ajax-loading {
	display: none;
	float: left;
	margin: 9px 0 0 0;
	visibility: visible;
}

/* Main Sections */
#builder_blvd #builder #featured,
#builder_blvd #builder #primary,
#builder_blvd #builder #featured_below{
	position: relative;
}
#builder_blvd #builder #featured .sortable,
#builder_blvd #builder #primary .sortable,
#builder_blvd #builder #featured_below .sortable {
	background: #f8f8f8;
	border: 1px dashed #dfdfdf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 40px 0;
	padding: 10px;
}
#builder_blvd #builder #featured span.label,
#builder_blvd #builder #primary span.label,
#builder_blvd #builder #featured_below span.label {
	content: 'Featured Area';
	background: #f8f8f8;
	border: 1px dashed #dfdfdf;
	border-bottom: none;
	color: #666666;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 25px;
	padding: 0 10px;
	position: absolute;
	top: -25px;
	right: 10px;
	text-align: center;
	width: 100px;
}

/* Elements */
#builder_blvd #builder .widget {
	margin-bottom: 10px;
}
#builder_blvd #builder #featured .empty:before {
	content: 'Drag elements here to have them featured above the primary content and sidebar(s).';
	color: #bbbbbb;
	display: block;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	text-align: center;
}
#builder_blvd #builder #primary .empty:before {
	content: 'Click "Add New Element" above to add a new element here.';
	color: #bbbbbb;
	display: block;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	text-align: center;
}
#builder_blvd #builder #featured_below .empty:before {
	content: 'Drag elements here to have them featured below the primary content and sidebar(s).';
	color: #bbbbbb;
	display: block;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	text-align: center;
}

/* Sidebar */
#builder_blvd #optionsframework .inner-sidebar .section-radio label {
	margin-bottom: 15px;
	width: 80%;
}
#builder_blvd #optionsframework .inner-sidebar .section-radio input.of-radio {
	margin-top: 2px;
}
#builder_blvd #optionsframework .inner-sidebar .section-radio .heading {
	margin-bottom: 12px;
}
#builder_blvd .postbox.postbox-publish.closed h3 { /* Hack to preserve the publish box's open state when clicked */
	border-bottom: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 1px 0 #ffffff;
	box-shadow: 0 1px 0 #ffffff;
}
#builder_blvd .postbox.hide .tb-widget-content {
	display: none;
}

/* =Meta Box (for Edit Page screen)
----------------------------------------------- */

/* General */
#poststuff #tb_builder .inside {
	margin: 0;
	padding: 0;
}
.postbox #builder_blvd #optionsframework .metabox-holder {
	max-width: inherit;
	padding: 0;
}
.postbox #builder_blvd .postbox {
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
}
.postbox #builder_blvd h3 {
	cursor: inherit;
}
.postbox #builder_blvd #optionsframework {
	background: #f9f9f9;
}
.postbox #builder_blvd .warning {
	background: #FFFFE0;
	border: 1px solid #E6DB55;
	margin: 10px;
}
#tb_builder #tb-alert {
	top: 40px;
}
.postbox #builder_blvd #optionsframework {
	max-width: inherit;
}

/* Loader */
.postbox #builder_blvd .tb-loader {
	background: #ffffff url(../images/loader_48.gif) no-repeat;
	background-size: 20px 20px;
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	visibility: visible;
	z-index: 4;
}
.postbox #builder_blvd #metabox-builder .tb-loader {
	background-size: 16px 16px;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	position: static;
	width: 16px;
	height: 16px;
}

/* Tabs */
#builder_blvd .meta-box-nav {
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	padding: 8px;
	position: relative;
}
#builder_blvd .meta-box-nav .ajax-overlay {
	z-index: 3;
}
#builder_blvd .meta-box-nav .icon-holder {
	float: left;
	margin: 5px 12px 0 0;
	position: relative;
	width: 20px;
	height: 20px;
}
#builder_blvd .meta-box-nav .icon-holder .tb-icon-commercial-building {
	font-size: 18px;
}
#builder_blvd .meta-box-nav .icon-holder #icon-tb_builder {
	background-position: -10px -5px;
	background-size: 82px 30px;
	position: absolute;
	margin: 0;
	width: 20px;
	height: 20px;
	z-index: 1;
}
#builder_blvd .meta-box-nav .select-layout {
	float: left;
	position: relative;
}
#builder_blvd .meta-box-nav .tb-fancy-select {
	background-position: 0 -2px;
	float: left;
	margin: 0;
}
#builder_blvd .meta-box-nav .tb-fancy-select select {
	height: 28px;
	min-width: 220px;
}
#builder_blvd .meta-box-nav .tb-fancy-select .trigger {
	background-position: 0 -2px;
	height: 28px;
}
#builder_blvd .meta-box-nav .tb-fancy-select .textbox {
	line-height: 28px;
}
#builder_blvd .meta-box-nav .select-layout span.note {
	float: left;
	line-height: 28px;
	margin: 0 0 0 10px;
	padding: 0;
}
#builder_blvd .meta-box-nav ul {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	bottom: -1px;
}
#builder_blvd .meta-box-nav li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}
#builder_blvd .meta-box-nav li a {
	border: 1px solid #dddddd;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #999999;
	display: block;
	font-weight: bold;
	line-height: 100%;
	padding: 8px 12px;
	text-decoration: none;
}
#builder_blvd .meta-box-nav li a.nav-tab-active {
	background-color: #f9f9f9;
	border-color: #dfdfdf;
	border-bottom-color: #f9f9f9;
	color: #333333;
}

/* Edit Layout Area */
#metabox-builder {}
#metabox-builder .ajax-overlay {
	background-color: #f9f9f9;
}
.postbox #edit_layout {
	overflow: hidden;
	position: relative;
}
.postbox #builder_blvd .ajax-overlay-layout-switch {
	background: #f9f9f9;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
}
.postbox #builder_blvd .edit-layout-wrap {
	border-bottom: 1px solid #dfdfdf;
	padding: 0 10px;
}
.postbox #builder_blvd #edit_layout #titlediv {
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
}
.postbox #builder_blvd #builder #featured span.label,
.postbox  #builder_blvd #builder #primary span.label,
.postbox #builder_blvd #builder #featured_below span.label {
	background-color: #ffffff;
}
.postbox #builder_blvd #builder #featured .sortable,
.postbox #builder_blvd #builder #primary .sortable,
.postbox #builder_blvd #builder #featured_below .sortable {
	background-color: #ffffff;
}
.postbox #builder_blvd .widget-name h3 {
	background-color: transparent;
	background-image: none;
	border-bottom: none;
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
}
.postbox #builder_blvd .sidebar-layout-wrap {
	padding: 0 10px;
}
.postbox #builder_blvd .sidebar-layout-wrap h2 {
	margin-left: 12px;
}
.postbox #builder_blvd #optionsframework .sidebar-layout-wrap .section {
	border-bottom: none;
	padding: 0 10px 10px 10px;
}
.postbox #builder_blvd .custom-layout-note {
	border-top: 1px solid #dfdfdf;
	color: #999999;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 13px;
	font-style: italic;
	padding: 7px 20px;
}

/* Add New Layout */
.postbox #builder_blvd #add_layout .postbox {
	margin: 0;
}

/* =Responsiveness
----------------------------------------------- */

@media (max-width: 1120px) {
	#builder_blvd #optionsframework .section .controls {
		float: none;
		min-width: inherit;
		overflow: hidden;
		width: auto;
	}
	#builder_blvd #optionsframework .section .explain {
		float: none;
		max-width: inherit;
		width: auto;
	}
}

/* =WordPress 3.8 (MP6)
-----------------------------------------------*/

.themeblvd-ui .postbox #builder_blvd #optionsframework {
	background: #ffffff;
}
.themeblvd-ui #metabox-builder .ajax-overlay {
	background-color: #f9f9f9;
}
.themeblvd-ui #optionsframework .meta-box-nav .ajax-overlay {
	background: #ffffff;
}
.themeblvd-ui #builder_blvd #edit_layout h2 {
	font-size: 16px;
}
.themeblvd-ui #builder_blvd #edit_layout #titlediv select,
.themeblvd-ui #builder_blvd #edit_layout #titlediv .button-secondary {
	margin-top: 0;
}
.themeblvd-ui .postbox #builder_blvd h3 {
	background: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
}
.themeblvd-ui .postbox #builder_blvd .widget-name h3 {
	background-color: #ffffff;
	border-bottom: none;
}
.themeblvd-ui #builder_blvd .meta-box-nav li a {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.themeblvd-ui #builder_blvd .meta-box-nav li a.nav-tab-active {
	background: #f5f5f5;
	border-bottom-color: #f5f5f5;
}
.themeblvd-ui #builder_blvd #builder #featured .sortable,
.themeblvd-ui #builder_blvd #builder #primary .sortable,
.themeblvd-ui #builder_blvd #builder #featured_below .sortable {
	padding-bottom: 0;
}
.themeblvd-ui #builder_blvd #builder #featured .sortable.empty,
.themeblvd-ui #builder_blvd #builder #primary .sortable.empty,
.themeblvd-ui #builder_blvd #builder #featured_below .sortable.empty {
	padding-bottom: 10px;
}
.themeblvd-ui #builder_blvd #builder #featured .sortable,
.themeblvd-ui #builder_blvd #builder #primary .sortable,
.themeblvd-ui #builder_blvd #builder #featured_below .sortable,
.themeblvd-ui #builder_blvd #builder #featured span.label,
.themeblvd-ui #builder_blvd #builder #primary span.label,
.themeblvd-ui #builder_blvd #builder #featured_below span.label {
	background-color: #f8f8f8;
	border-color: #cccccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}